#body{
  background: #fcde67 ;
  height:130vh;
  width:218vh;
  }
#website_name{font-family: Copperplate Gothic Light, 'Arial Narrow', Arial, sans-serif,'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              font-size: 70px;
              position:absolute;
              color:red;
              top:20vh;
              left:94vh;}

  #screen{margin:auto;
  background: #fcde67;
  max-height: 300px;
  height:210px;
  width: 600px;
  position: absolute;
  top:80vh;
  left:65vh;
  border  : 1px solid #030e12;
  border-radius:10px;
  padding : 10px;}
             .Structure{display:none;}


#display{ margin:auto;
          background-color:transparent;
          object-position: center;
          text-align:center;
          width: 50%;
          height:200px;
          position:absolute;
          top:10%;
          left:25%;}
                       .Structure{display:none;}

                       
          .Name {
            font-family: Copperplate Gothic Light, 'Arial Narrow', Arial, sans-serif,'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            overflow:hidden;
            margin:auto;
            background-color:#fcde67;
            object-position: center;
            text-align:center;
            color:#030e12;
            padding:10px;
            border:1px solid #5bccf6;
            width:auto ;
            height:auto;
            position:absolute;
            top:5%;
            left:2%;
          border-radius: 10px;}

                       
.Name_hovered {
  font-family: Copperplate Gothic Light, 'Arial Narrow', Arial, sans-serif,'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 29px;
 margin:auto;
 background-color:#030e12;
 object-position: center;
 text-align:center;
 color:#ffffff;
 padding:10px;
 width:auto ;
 height:auto;
 position:absolute;
 border:1px solid #5bccf6;
 top:5%;
 left:2%;
border-radius: 10px;}
 .animate {
  -webkit-transition: .75s;
  -moz-transition: .75s;
  -o-transition: .75s;
  transition: .75s;
}


body .input{
          outline:none;
          font-size: 3em;
           font-family: Copperplate Gothic Light, 'Arial Narrow', Arial, sans-serif,'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           width: 400px ;
          height: 80px;
          padding: 20px;
          background: #fcde67 ;
          position:absolute;
          border-radius: 10px;
          left:80vh;
          top:50vh;
          border: 3px solid #030e12;
          margin:auto;}

        
          body .input_hovered{
            outline:none;
            font-family: Copperplate Gothic Light,'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 3em;
            width: 400px ;
            height: 80px;
            padding: 20px;
            border: 3px solid #5bccf6;
            background: #fcde67 ;
            position:absolute;
            border-radius: 10px;
            left:80vh;
            top:50vh;
            margin:auto;}

         
          @keyframes border_change_back{
            from{border:3px solid #5bccf6;}
          to{
            border:3px solid #030e12;}
          }


        @keyframes border_change{
          to{
          border:3px solid #5bccf6}
        }

 polyline#sigma_bonds {
          fill:transparent;
          stroke:transparent;
          stroke-width: 3mm;
          stroke-linejoin:bevel;
          stroke-dasharray: 190;
          stroke-dashoffset: 384;
          animation:opacityinring 2s forwards, dashring 4s forwards 0s;
}
  @keyframes dashring{
    to {stroke-dasharray: 345%;
      stroke-dashoffset: 0px;}
  }
  @keyframes opacityinring{
    from {
    opacity: 0;}
    to {
      stroke:rgb(0, 0, 0);
      opacity: 1;}
  }
  polyline#pi_bondA {
    fill:transparent;
    stroke:transparent;
    stroke-width: 2mm;
    stroke-linejoin:bevel;
    stroke-linecap:round;
    stroke-dasharray: 10% 33%;
    stroke-dashoffset: 3;
    animation: opacityin 5s forwards 1s, dash 10s forwards 2s;
    }
    polyline#pi_bondB {
      fill:transparent;
      stroke:transparent;
      stroke-width: 2mm;
      stroke-linejoin:bevel;
      stroke-linecap:round;
      stroke-dasharray: 10% 33%;
      stroke-dashoffset: 3;
      animation: opacityin 5s forwards 2s;
      }
      polyline#pi_bondC {
        fill:transparent;
        stroke:transparent;
        stroke-width: 2mm;
        stroke-linejoin:bevel;
        stroke-linecap:round;
        stroke-dasharray: 10% 33%;
        stroke-dashoffset: 3;
        animation: opacityin 5s forwards 3s, dash 10s forwards 4s;
        }
  svg g.circles circle#pointA{
    stroke:rgb(0, 0, 0);
    stroke-width: 3mm;
    fill: #fcde67;
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
    animation: dash 10s forwards, opacityout 3s forwards 5s; 
    }
    svg g.circles circle#pointB{
      stroke:rgb(0, 0, 0);
      stroke-width: 3mm;
      fill: #fcde67;
      stroke-dasharray: 320;
      stroke-dashoffset: 320;
      animation: dash 10s forwards, opacityout 3s forwards 5s; 
      }
      svg g.circles circle#pointC{
        stroke:rgb(0, 0, 0);
        stroke-width: 3mm;
        fill: #fcde67;
        stroke-dasharray: 320;
        stroke-dashoffset: 320;
        animation: dash 10s forwards, opacityout 3s forwards 5s; 
        }
        svg g.circles circle#pointD{
          
          stroke:rgb(0, 0, 0);
          stroke-width: 3mm;
          fill: #fcde67;
          stroke-dasharray: 320;
          stroke-dashoffset: 320;
          animation: dash 10s forwards, opacityout 3s forwards 5s; 
          }
          svg g.circles circle#pointE{
            
            stroke:rgb(0, 0, 0);
            stroke-width: 3mm;
            fill: #fcde67;
            stroke-dasharray: 320;
            stroke-dashoffset: 320;
            animation: dash 10s forwards, opacityout 3s forwards 5s; 
            }
            svg g.circles circle#pointF{
              
              stroke:rgb(0, 0, 0);
              stroke-width: 3mm;
              fill: #fcde67;
              stroke-dasharray: 320;
              stroke-dashoffset: 320;
              animation: dash 10s forwards, opacityout 3s forwards 5s; 
              }
              
    @keyframes opacityin{
      from {
      opacity: 0;}
      to {
        stroke-dasharray: 0 1;
        stroke:red;
        opacity: 1;}
    }
    @keyframes opacityout{
      from {
      opacity: 1;}
      to {
        opacity: 0;}
    }
    @keyframes dash{
        to {
         stroke-dashoffset: 0;}
    }